#logo {
    text-align: center;
    width: 200px;

    }

#paragrafo{
    text-align: center;
    background-color: rgb(233, 235, 200);
}

.main{
    text-align: center;

}

div h1{
    font-family: Arial, Helvetica, sans-serif;
}

#paragrafo2 {
    color: red;
    font-family:Arial, Helvetica, sans-serif;
}
.lorem{
    text-align:justify;
    
}