body {
  font-family: Arial, sans-serif;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  background-color: #ffffff;
  color: #000000;
  border-radius: 70px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
  background-color: #fbf7e3;
}

.card-content h2 {
  margin: 0;
  font-size: 1.5em;
  color: #612406;
}

.card-content p {
  margin: 10px 0;
  color: #666;
  color: #612406;
}

.card-content .price {
  font-size: 1.2em;
  color: #333;
  color: #612406;
}

.card-content button {
  background-color: #f3df85;
  color: #612422;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 10px;
}

.card-content button:hover {
  background-color: #e2a917;
}
